$color-background: #333;
$color-gray: #666a86;
$color-red: #f25757;
$color-beige: #e8ddb5;
$color-blue: #56cbf9;

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}
